<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Análisis de Sentimiento</title>
</head>
<body>
    <header>
        <h1>Análisis de Sentimiento<br>Sentir-Text</h1>
    </header>
    <main>
        <form action="/" method="post">
            <textarea name="text" rows="4" cols="50" placeholder="Ingresa un texto en INGLES que deseas analizar"></textarea>
            <button type="submit">Analizar</button>
        </form>
        <div class="result">
            <p>Resultado: {{ sentiment }}</p>
        </div>
    </main>

    <footer>
        <div class="author-info">
            <p>Landy Lerma</p>
            <p>Profesión: Data Scientist</p>
            <p>Sígueme en las redes:</p>
            <a href="https://www.facebook.com/profile.php?id=100068691562138&mibextid=ZbWKwL" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="http://tiktok.com/@emoaitech" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://github.com/IngLizzete" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/landy-lerma-666b2581/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCjOFrPiPy5PUzbdEFeFHqWw" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </footer>
    
</body>

</html>

